body{
    background-color: lightblue;
    margin: 0%;
    padding: 0%;
}
.note{
    list-style-type: none;
    padding: 4%;
    width: 30%;
    height: 300px;
}

.noteDetail{
    background-color: beige;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3%;
    border-style:ridge;
    text-align: center;
    height: 100%;
}

.handle{
    position: absolute;
    left: 5%;
    top: 5%;
}

.delete {
    position: absolute;
    right: 5%;
    top: 5%;
}

.title{
    height: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10%;

}

.ourTitle {
    font-weight: bold;
}

.text{
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 5% 0% 10% 0%;
}

.app {
    width: 100vw;
    height: 100%;
    display: flex;
}

.board {
    background-color: lightblue;
    background-repeat: repeat-y;
    width: 60%;
    height: 100vh;
}

.addNote {
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 50vh;
}

.notelist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 7%;
}

.edit{
    margin: 10% 0% 10% 0%;
}

.textbox {
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 100%;
    object-position: 0%;
    overflow-wrap: break-word;
    overflow-y: auto;
    overflow-x: auto;
    margin: 10% 0% 10% 0%;
}

.ourTitle {
    margin: 10% 0% 20% 0%;
    padding: 0%;
}

.Search {
    padding:5%;
}

.header2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 40%;
}